
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="text-center">
                    <!--SEARCH BAR
                    <div class="container">
                        
                        <form>
                         <input type="text" placeholder="Search...">
                        
                            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div>
                       -->


                       
                    <!--Carousel Images-->
                      <app-carousel
                          [images]="images"
                          [autoSlide]="true">
                     </app-carousel>
                    
                     <br>
                     <br>
                     <br>

                     <mat-card>
                       <h1>DOCTOR LISTS</h1>
                       <p>Here you will find everything about doctor</p>
                      </mat-card>
              
            </div>
        </div>
    </div>
</div>

    