<mat-card>
    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-6 offset-md-3">
            
                    <div class="container text-center">
                        <img src="../../../assets/logo.png" height="90" alt="">
                    </div>
                         <h1 class="text-center"><i><b>Create Appointment</b></i></h1>
                </div>
            </div>
        </div>
    </div>
</mat-card>