* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    width: 190px;
    align-items: center;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
 
