<h1><b><i>Choose Type Of Registration</i></b></h1>
<div class="bootstrap-wrapper">
    <div class="container">
        <!--Doctor-->
        <div class="box">
            <h4><b><i>Doctor</i></b></h4>
            <a routerLink="/signup">
                <img  src="../../../assets/doctor.png"  image-resize style="width:45%">
            </a>
        </div>
    
         <!--Patinet-->
        <div class="box">
            <h4><b><i>Patient</i></b></h4>
            <a routerLink="/patientSignup">
                <img  src="../../../assets/patient.png" image-resize style="width:46%">
               </a>
        </div>
       
         <!--Hosptal-->
        <div class="box">
            <h4><b><i>Pharmacy</i></b></h4>
            <a>
                <img  src="../../../assets/hospital.png"     style="width:53%">
              </a>
        </div>


    </div>
</div>