<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <h2>Choose Type OF Registration</h2>

                    <div class="row">
                        <div class="column1"> 
                            <h4>Doctor</h4>
                                 <a
                                    routerLink="/signup">
                                     <img  src="../../../assets/doctor.png"  image-resize style="width:100%">
                                 </a>
                        </div>

                        <div class="column2"> 
                                 <h4>Patient</h4>
                                     <a routerLink="/patientSignup">
                                     <img  src="../../../assets/patient.png" image-resize style="width:100%">
                                    </a>
                        </div>
                            <!--height="170"-->
                           <div class="column3"> 
                                    <h4>Hospitale</h4>
                                    <a>
                                      <img  src="../../../assets/hospital.png"  image-resize style="width:100%">
                                    </a>
                           </div>
                    </div>
            </div>
        </div>
    </div>
</div>
