<mat-toolbar color="primary">
  <!--<div class="container">
    <img src="../../../assets/health.png" height="30" alt="">
  </div>-->
  

  <a 
  routerLink="/"
  mat-icon-button class="example-icon favorite-icon" aria-label="medical_tablet">
    <mat-icon>eco</mat-icon>
    <span>Fermed</span>
   </a>

    


    <span class="example-spacer"></span>
    <!--this first redirect us to the login page-->
    <a    routerLink="/login"mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"><mat-icon>login</mat-icon></a>
    
    <!--this second redirect us to the multiuser page-->
    <a routerLink="/multiuser" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"><mat-icon>supervised_user_circle</mat-icon></a>

    <!--this third redirect us to the multiuser page as we logout-->
    <!--(click)="onLogout()"-->
    <a routerLink="/multiuser"  (click)="onLogout()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"><p>Logout</p></a>

  </mat-toolbar>
