<mat-toolbar color="primary">
  <!--<div class="container">
    <img src="../../../assets/health.png" height="30" alt="">
  </div>-->
  

  <a 
  routerLink="/"
  mat-icon-button class="example-icon favorite-icon" aria-label="medical_tablet">
    <mat-icon>eco</mat-icon>
    <span>Fermed</span>
  </a>

    


    <span class="example-spacer"></span>
    <a 
    routerLink="/login"
    mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>login</mat-icon>
    </a>


  
    
    <a
    routerLink="/multiuser" 
    
    mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>supervised_user_circle</mat-icon>
    </a>




  </mat-toolbar>
