<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <h4>Menu</h4>

        <!--Doctor avatar and naming-->
        <img class="avatar" image-size src="../../../assets/patientAvatar.png">
        <h4 class="name">Patient Name</h4>
        

        <mat-divider></mat-divider>
       
       
         <!--Home button-->
         <a 
         routerLink="/patientDashboard"
         mat-icon-button class="example-icon favorite-icon" aria-label="medical_tablet">
           <mat-icon>home</mat-icon>
           <span>Home</span>
            
          </a>
      
 
            <!--Profile button -->
            <a 
            routerLink="/patientDashboard/patientProfile"
            mat-icon-button class="example-icon favorite-icon" aria-label="medical_tablet">
              <mat-icon>person</mat-icon>
              <span>Profile</span>
             </a>

             
            <!--patient profile -->
            <a 
            routerLink="/patientDashboard/createAppointment"
            mat-icon-button class="example-icon favorite-icon" aria-label="medical_tablet">
            <mat-icon>library_add</mat-icon>
              <span>Appointment</span>
             </a>
           
             

    </mat-sidenav>
</mat-sidenav-container>