<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img src="../../../assets/logo.png" height="90" alt="">
                </div>
                <h1 class="text-center">Register Here!!</h1>
               
                <!--FOR TESTING PURPOSE ONLY-->
                  <!--{{doctorDTO | json}}-->
                <form [formGroup]="doctorDTO" (ngSubmit)="formSubmit()">
                   
                    <!-- Name field  []    [(ngModel)]= "doctorDTO.name"-->
                    <div class="row">
                        <div class="col mb-5">
                            <label for="name" class="form-lable">Name</label>
                            <input  type="text" class="form-control" id="name" placeholder="Enter Name" (keydown)="Space($event)"  formControlName="name">
                            <div class="form-text text-danger" style="color: red" *ngIf="Name.errors?.['required'] && (Name.touched || Name.dirty)">
                                Name field should not be empty!!!
                            </div>
                            <div class="form-text text-danger" style="color: red" *ngIf="Name.errors?.['minlength'] && (Name.touched || Name.dirty)">
                                Name must contain minimum 4 characters!!!
                            </div>
                            <div class="form-text text-danger" style="color: red" *ngIf="Name.errors?.['pattern'] && (Name.touched || Name.dirty)">
                                Name should not start with number!
                            </div>
                            <div class="form-text text-danger" style="color: red" *ngIf="Name.errors?.['maxlength'] && (Name.touched || Name.dirty)">
                                Name must contain maximum 15 characters!!!
                            </div>

                        </div>
                    </div>

                    <!--Surname field-->
                    <div class="row">
                        <div class="col mb-5">
                            <label for="surname" class="form-lable">Surname</label>
                            <input  type="text" class="form-control"  placeholder="Enter Surname"  (keydown)="Space($event)" id="surname" formControlName="surname">
                            <div class="form-text text-danger" style="color: red" *ngIf="Surname.errors?.['required'] && (Surname.touched || Surname.dirty)">
                                Surname field should not be empty!!!
                            </div>
                            <div class="form-text text-danger" style="color: red" *ngIf="Surname.errors?.['minlength'] && (Surname.touched || Surname.dirty)">
                                Surname must contain minimum 4 characters!!!
                            </div>
                            <div class="form-text text-danger" style="color: red" *ngIf="Surname.errors?.['pattern'] && (Surname.touched || Surname.dirty)">
                                Surname should not start with number!
                            </div>
                            <div class="form-text text-danger" style="color: red" *ngIf="Surname.errors?.['maxlength'] && (Surname.touched || Surname.dirty)">
                                Surname must contain maximum 15 characters!!!
                            </div>
                        </div>
                    </div>


                    <!--Gneder field-->
                <div class="row">
                    <div  class="col ps-5 mb-3">
                        <div class="m-1">Gender</div>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" value="male" id="male" formControlName="gender">
                            <label class="form-check-lable" for="male">Male</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" value="female" id="female" formControlName="gender">
                            <label class="form-check-lable" for="female">Female</label>
                            <div class="form-text text-danger" style="color: red" *ngIf="Gender.errors?.['required']">
                                Select Gender!!!
                            </div>
                        </div>
                    </div>
                </div>


                    <!--Email field-->
                    <div class="row">
                        <div class="col mb-5">
                            <label for="email" class="form-lable">Email</label>
                            <input  type="text" class="form-control"  placeholder="Enter Email" id="email" formControlName="email">
                            <div class="form-text text-danger" style="color: red" *ngIf="Email.errors?.['required'] && (Email.touched || Email.dirty)">
                                Email field should not be empty!!!
                            </div>
                            <div class="form-text text-danger" style="color: red" *ngIf="Email.errors?.['email'] && (Email.touched || Email.dirty)">
                                Email is invalid!!!
                            </div>
                        </div>
                    </div>



                    <!--Password field-->

                    <div class="row">
                        <div class="col mb-5">
                            <div  class="form-group">
                            <label for="password" class="form-lable">Password</label>
                            <input  type="password" class="form-control" id="password" placeholder="Enter Password" (keydown)="Space($event)"  formControlName="password">
                            <div class="form-text text-danger" style="color: red" *ngIf="Password.errors?.['required'] && (Password.touched || Password.dirty)">
                                Password field should not be empty!!!
                            </div>
                            <div class="form-text text-danger" style="color: red" *ngIf="Password.errors?.['minlength'] && (Password.touched || Password.dirty)">
                                Password must contain minimum 4 characters!!!
                            </div>
                            <div class="form-text text-danger" style="color: red" *ngIf="Password.errors?.['maxlength'] && (Password.touched || Password.dirty)">
                                Password must contain maximum 15 characters!!!
                            </div>
                            <div class="form-text text-danger" style="color: red" *ngIf="Password.errors?.['pattern'] && (Password.touched || Password.dirty)">
                             Allowed characters [-,_]
                            </div>
                            </div>
                        </div>
                    </div>



                    <!--Username field-->
                    <div class="row">
                        <div class="col mb-5">
                            <label for="username" class="form-lable">Username</label>
                            <input   type="text" class="form-control" id="username" placeholder="Enter Username" (keydown)="Space($event)"  formControlName="username">
                            <div class="form-text text-danger" style="color: red" *ngIf="Username.errors?.['required'] && (Username.touched || Username.dirty)">
                                Username field should not be empty!!!
                            </div>
                            <div class="form-text text-danger" style="color: red" *ngIf="Username.errors?.['minlength'] && (Username.touched || Username.dirty)">
                                Username must contain minimum 4 characters!!!
                            </div>
                            <div class="form-text text-danger" style="color: red" *ngIf="Username.errors?.['pattern'] && (Username.touched || Username.dirty)">
                                Username should not start with number!
                            </div>
                            <div class="form-text text-danger" style="color: red" *ngIf="Username.errors?.['maxlength'] && (Username.touched || Username.dirty)">
                                Username must contain maximum 15 characters!!!
                            </div>

                        </div>
                    </div>







                      
                        <!--Button for reset-->
                      <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary">Register</button>
                        <button type="reset" style="margin-left: 20px;" mat-raised-button color="accent">Reset</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
