<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <h4>Menu</h4>

        <!--Doctor avatar and naming-->
        <img class="avatar" image-size src="../../../assets/doctorAvatar.png">
        <h4 class="name">Maria Begum</h4>
        

        <mat-divider></mat-divider>
       
       
         <!--Home button-->
         <a 
         routerLink="/doctorHome"
         mat-icon-button class="example-icon favorite-icon" aria-label="medical_tablet">
           <mat-icon>home</mat-icon>
           <span>Home</span>
            
          </a>
      
 
            <!--Profile button-->
            <a 
            routerLink="/doctorHome/doctorProfile"
            mat-icon-button class="example-icon favorite-icon" aria-label="medical_tablet">
              <mat-icon>person</mat-icon>
              <span>Profile</span>
               
             </a>
      
          
        <a 
        routerLink="/doctorHome/doctorAppointment"
        mat-icon-button class="example-icon favorite-icon" aria-label="medical_tablet">
        <mat-icon>receipt_long</mat-icon>
        <span>Appointments</span>
        </a>
       

         <mat-divider></mat-divider>
     
        <a 
        mat-icon-button class="example-icon favorite-icon" aria-label="medical_tablet">
        <mat-icon>help</mat-icon>
        <span>Help</span>
        </a>



    </mat-sidenav>
    


    
</mat-sidenav-container>