<!--Login form for Doctor-->
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                <div class="container text-center">
                    <img src="../../../assets/logo.png" height="90" alt="">
                </div>
                <h1 class="text-center">Doctor Login Here!!</h1>

                <form [formGroup]="doctorLoginDTO">
                    
                    <!--Email field-->                     
                     <div class="row">                       
                        <div class="col mb-5">                           
                            <label for="email" class="form-lable">Email</label>                            
                            <input  type="text" class="form-control"  placeholder="Enter Email"  (keydown)="Space($event)" id="email" formControlName="email">                           
                            <div class="form-text text-danger" style="color: red" *ngIf="Email.errors?.['required'] && (Email.touched || Email.dirty)">
                                    Email field should not be empty!!!                            
                            </div>                            
                            <div class="form-text text-danger" style="color: red" *ngIf="Email.errors?.['email'] && (Email.touched || Email.dirty)">
                                     Email is invalid!!!                            
                            </div>                       
                        </div>
                    </div>


                  
                    <!--Password field-->

                    <div class="row">
                        <div class="col mb-5">
                            <label for="password" class="form-lable">Password</label>
                            <input  type="password" class="form-control" id="password" placeholder="Enter Password" (keydown)="Space($event)"  formControlName="password">
                            <div class="form-text text-danger" style="color: red" *ngIf="Password.errors?.['required'] && (Password.touched || Password.dirty)">
                                Password field should not be empty!!!
                            </div>
                            <div class="form-text text-danger" style="color: red" *ngIf="Password.errors?.['minlength'] && (Password.touched || Password.dirty)">
                                Password must contain minimum 8 characters!!!
                            </div>
                            <div class="form-text text-danger" style="color: red" *ngIf="Password.errors?.['maxlength'] && (Password.touched || Password.dirty)">
                                Password must contain maximum 15 characters!!!
                            </div>
                            <div class="form-text text-danger" style="color: red" *ngIf="Password.errors?.['pattern'] && (Password.touched || Password.dirty)">
                             Allowed characters [-,_]
                            </div>        
                        </div>
                    </div>





                    <div class="container text-center">
                        <button type="button" mat-raised-button color="primary" (click)="loginSubmit(doctorLoginDTO.value)">Login</button>
                        <button type="reset" style="margin-left: 20px;" mat-raised-button color="accent">Reset</button>
                    </div>
                    <br>
                    <h5>Aren't you already registered?&nbsp;&nbsp;<a routerLink="/signup">Signin here</a></h5>

                    
                </form>
            </mat-card>
            </div>
        </div>
    </div>
</div>
