<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <h2>WELCOME PAGE</h2>
            </div>
           
            <div class="container">
              <mat-card>
                <p><i>1-Questo sito ha lo scopo di facilitare le ricerche per medicinali</i></p>
                <p><i>2-Il dottore puo' verdere quanti appuntamenti ha e con quale paziente</i></p>
                <p><i>3-Il pazient puo vedere i dottori disponbili e la categoria di dottore che vuole cercare nel search box.</i></p>
                <p><i>4-Il pazient puo prendere l'appuntamento con il dottore scegliendo la specializazaione</i></p>
              </mat-card>
                 </div>

                

                 <div class="container  text-center">
                    <br>
                    <br>
                    <mat-card>
                        <p><i>To go to the Home page, click on this button below and it will redirect you the home page</i></p>
                        <a  routerLink="/mainHomePage" type="button"  mat-raised-button color="primary">Home Page</a>              
                    </mat-card>
                       </div>

            
        
            <div class="container text-center"> 
                <br>
                <br>
                <mat-card>
                    <p><i>By clicking on this button or the button in the navbar, it will redirect you to a page where by choosing type of registration, you will be able you registrate and if you want to login just go right at the buttom of the registration form  and you will find the login button, which will redirect you to the login page.</i></p>
            <h4><b>CLICK ON THIS BUTTON TO EITHER LOGIN OR REGISTRATE</b></h4>
            <a  routerLink="/multiuser" type="button"  mat-raised-button color="primary">Login / Registration</a>
                
            </mat-card>
            
            </div>
       


            <!--ANIMATED BACKGROUD
            <div class="myimage">
             <img [src]="myimage" alt = "Background image">   
            </div>
             -->



        </div>
    </div>
</div>
