<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <h2>Welcome to home page</h2>
            </div>
            <mat-card>
            <div class="row">
                <p><i>1-Questo sito ha lo scopo di facilitare le ricerche per medicinali</i></p><br>
                <br>
                <p><i>2-Il dottore puo' verdere quanti appunti ha e con quale paziente</i></p>
                <br>
                <p><i>3-Il pazient puo vedere i dottori disponbili e la categoria di dottore che vuole cercare nel search box.</i></p>

            </div>
        </mat-card>
        </div>
    </div>
</div>
