<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <h2>WELCOME TO HOME PAGE</h2>
            </div>
           
            <div class="container">
              <mat-card>
                <p><i>1-Questo sito ha lo scopo di facilitare le ricerche per medicinali</i></p>
                <p><i>2-Il dottore puo' verdere quanti appuntamenti ha e con quale paziente</i></p>
                <p><i>3-Il pazient puo vedere i dottori disponbili e la categoria di dottore che vuole cercare nel search box.</i></p>
                <p><i>4-Il pazient puo prendere l'appuntamento con il dottore scegliendo la specializazaione</i></p>
              </mat-card>
                 </div>
            
        
            <div class="container text-center"> 
                <br>
                <br>
                <mat-card>
            <h4><b>CLICK ON THIS BUTTON TO LOGIN OR REGISTRATE</b></h4>
            <a  routerLink="/multiuser" type="button"  mat-raised-button color="primary">Login / Registration</a>
                
            </mat-card>
            
            </div>
       
        </div>
    </div>
</div>
