<mat-card>
    <h1><i>Doctor Profile Details</i></h1>
    

   
    <mat-card-content>
            <!--Showing doctor profile details-->
        <div class="bootstrap-wrapper">
          <div class="container">
            <!--To display default image-->
            <div class="container text-center">
                <img src="../../../assets/doctorAvatar.png" height="90"alt=""
                class="profile-image">
                

                <!--Showing doctor Username-->
                <h1>
                 Default Name
                  
                 <!--showing doctor name     ( *ngFor="let doctor of doctorDeatils;")-->
               
                </h1>
            </div>

            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <!--Creting the table to display various details about the doctor-->
                   <table class="table text-center">
                   <tr>
                        <td>Name</td>
                        <td>Daniele</td>
                   </tr>

                   <tr>
                        <td>Surname</td>
                        <td>Fulghesu</td>
                   </tr>


                   <tr>
                    <td>Gender</td>
                    <td>Male</td>
                   </tr>


                   <tr>
                    <td>Email</td>
                    <td>danielefulghesu@gmail.com</td>
                   </tr>


                   <tr>
                    <td>Username</td>
                    <td>DanieleFulghesu</td>
                   </tr>






                   </table>
                </div>
            </div>
          </div>
        </div>
    </mat-card-content>
    
                   <!--Fotter-->
                   <mat-card-actions class="text-center">
                    <button mat-raised-button color="primary">UPDATE</button>
                 </mat-card-actions>

</mat-card>