<mat-card>

    <h1>Doctor Appointments With Patient
    </h1>

    <!--creating table to display appointments details-->
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Patient Id</th>
            <th scope="col">Name Surname</th>
            <th scope="col">Type of Payment</th>
            <th scope="col">Appointment Date-Time</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let appoint of appointments">
            <!--<th scope="row">1</th>-->
            <!--id_appointment,id_doc,patient_id,payment,time_date-->
                 <td>{{appoint.patient_id}}</td>
                 <td></td>
                 <td>{{appoint.payment}}</td>
                 <td>{{appoint.time_date}}</td>
                 <td>
                  <button
                  routerLink="/doctorHome/doctorUpdateAppointment"
                  class="btn btn-sm btn-warning">
                    <i class="fa fa-edit"></i>Edit</button>

                  <button class="btn btn-sm btn-danger">
                    <i class="bi bi-x"></i>Delete</button>


                </td>
                
            </tr>
         
          
        </tbody>

        

      </table>








</mat-card>

