
<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <h4>Menu</h4>

        <!--Doctor avatar and naming-->
        <img class="avatar" image-size src="../../../assets/doctorAvatar.png">
        <h4 class="name">Maria Begum</h4>
        

        <mat-divider></mat-divider>
        <!--Home button-->
        <button mat-button class="menu-button">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
        </button>



        <!--Get all appointments button-->
        <button mat-button class="menu-button">
            <mat-icon>receipt_long</mat-icon>
            <span>Appointments</span>
            </button>



         <mat-divider></mat-divider>
         <!--About button-->
         <button mat-button class="menu-button">
         <mat-icon>info</mat-icon>
         <span>About</span>
        </button>

        

          <!--Help button-->
          <button mat-button class="menu-button">
          <mat-icon>help</mat-icon>
          <span>Help</span>
            </button>



    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z4">
            Main content will be here
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
