
<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <h4>Manu</h4>

        <!--Home button-->
        <button mat-button class="menu-button"></button>
        <mat-icon>persone</mat-icon>
        <span>Profile</span>

         <!--About button-->
         <button mat-button class="menu-button"></button>
         <mat-icon>info</mat-icon>
         <span>About</span>

          <!--Help button-->
          <button mat-button class="menu-button"></button>
          <mat-icon>help</mat-icon>
          <span>Help</span>
 



    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z4">
            Main content will be here
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
