<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                
                 <button routerLink="/doctorHome/doctorAppointment" mat-raised-button color="primary"><i class="bi bi-arrow-left"></i></button>
                   <div class="container text-center">
                       <img src="../../../assets/logo.png" height="90" alt="">
                   </div>
                       <h1 class="text-center"><i><b>Update Patient Appointment</b></i></h1>
                       <!--[formGroup]="appointmentDTO" (ngSubmit)="formSubmit()-->
                      <form [formGroup]="editAppointment" >

                        <div class="form-group">
                            <label>Appointment Id</label>
                            <input type="text" formControlName="id_appuntamento" readonly>
                        </div>


                                   <div class="form-group">
                                        <label>Patient Id</label>
                                        <input type="text" formControlName="patient_id" readonly>
                                    </div>




                                <div class="form-group">
                                    <label>Choose Date/time</label>
                                    <input mdc-datetime-picker="" date="true" time="true" type="datetime-local" id="time_date" class="md-input" formControlName="time_date" >
                             </div>


                             <div class="form-group">
                                 <mat-label>Patient choosen type of payment</mat-label>
                                <div>
                                     <div>
                                        <input  type="radio" value="cash" name="payment" formControlName="payment">Cash
                                        <input  type="radio" value="online" name="payment" formControlName="payment" >Online
                                    </div>
                                </div>
                           </div>



                                    <!--(click)="updateAppointment(appointments.id_appuntamento)"-->
                                <div class="container text-center">
                                    <button  type="submit" mat-raised-button color="primary" (click)="updateAppointment()" >Update</button>
                                    <button type="reset" style="margin-left: 20px;" mat-raised-button color="accent">Reset</button>
                                </div>
                        </form>   
                </mat-card>   
            </div>            
            </div>
        </div>
    </div>